@mixin MaxMediaQuery($size) {
    @media screen and (max-width: $size){
       @content;
    }
}
@mixin MinMediaQuery($size) {
    @media screen and (min-width: $size){
       @content;
    }
}



@include MinMediaQuery(376px){

}

// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________

@include MinMediaQuery(576px){

    // ___Blog___
    .blog__container{
        gap: 30px;
    }

}
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________

@include MinMediaQuery(768px){

    html{
        font-size: 11px;
    }

    // ___Reusabe Classes___
    .container{
        max-width: 730px;
        padding: 0;
    }
    // ___Header___
    .header__navbar__toggler{
        display: none;
    }
    .header__bottom{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: -5%;
            width: 25%;
            height: 100%;
            background-color: $marigold;
            z-index: -1;
            transform: skewX(10deg);
        }
    }
    .header__navbar{
        position: relative;
        all: unset;
        margin-inline-start: auto; 
        margin-inline-end: 30px;
    }
    .navbar__nav{
        @include flex-center;
        gap: 30px;
    }
    .nav__item:not(:last-child){
        border-bottom: none;
    }
    .nav__item{
        &:hover{
            background-color: none;
        }
    }
    .nav__link{
        padding: 0;
        font-size: $fs-8;
        font-weight: 500;
        &:hover{
            background-color: transparent;
            color: $marigold;
        }
    }
    // ___Hero___
    .hero__container{
        align-items: center;
    }
    .hero__btn{
        margin: 0;
    }
    .hero__img{
        img{
            width: 100%;
        }
    }

}

// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________

@include MinMediaQuery(992px){


    .container{
        max-width: 960px;
    }
    .navbar__nav{
        gap: 50px;
    }
    .liveMatch__img{
        grid-template-columns: 0.7fr;
        justify-content: center;
    }
    .liveMatch__players{
        gap: 45px;
    }
    .product__container, .blog__container, .footer__top__container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .newsLetter__card{
        justify-content: space-between;
        padding: 40px;
    }
    .newsLetter__card, .newsLetter__form{
        flex-direction: row;
    }

}
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________


@include MinMediaQuery(1200px){

    .container{
        max-width: 1180px;
    }

    .footer__top__container, .product__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________

@include MinMediaQuery(1400px){
    .container{
        max-width: 1320px;
    }
}
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
// __________________________________________________________________________________
@include MinMediaQuery(1500px){
    .container{
        max-width: 1400px;
    }
}
